/* app css stylesheet */
html {
	overflow-x: hidden;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.inner-menu {
  padding-left: 30px;
}

.header {
    background: linear-gradient(to bottom, #ffc132 0%,#ffffff 96%,#ffffff 100%);
    margin-top: -40px;
}
.font-bold {
	font-weight: bold;
}
.content {
	width: auto;
}
