<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-collapse collapse" id="footer-body">
            <ul class="nav navbar-nav">
                <li style="font-size: 12px;width: 20%" ng-repeat="item in menu">
                    <a href="/#/{{item.name}}" ng-click="getName(item.description)" style="color: white;"><b>
                        {{item.description}}</b></a>
                    <ul class="listStyle">
                        <li ng-repeat="subitem in item.navigation">
                            <a href="/#/{{item.name}}/{{subitem.name}}" ng-click="getName(subitem.description)">{{subitem.description}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="footer-bar-btns visible-xs">
                <li><a href="#" class="btn" title="History"><i class="fa fa-2x fa-clock-o blue-text"></i></a></li>
                <li><a href="#" class="btn" title="Favourites"><i class="fa fa-2x fa-star yellow-text"></i></a></li>
                <li><a href="#" class="btn" title="Subscriptions"><i class="fa fa-2x fa-rss-square orange-text"></i></a>
                </li>
            </ul>
        </div>

    </div>
</div>
