<div class="header" ng-controller="NavCtrl">
    <img class="col-md-offset-1" src="img/logo.png">
    <div class="row">

        <div class="jumbotron" style="background: transparent;padding-top: 20px;text-align: center">
            <div class="container">
                <h2>I help [market vertical] [solution you can deliver]</h2>
                <p>Do you have [problem description]?</p>
            </div>
        </div>

        <div class="col-md-8 col-md-offset-1">
            <a href="/">Home</a> /
			<span ng-repeat="item in paths"> 
				<a ng-href="{{ !$last ? '/#' + item.url : ''}}">{{ item.name }}</a>{{!$last ? ' /' : ''}}
			</span>
        </div>
    </div>
</div>
