<div class="col-md-3" ng-controller="NavCtrl">
    <ul class="nav nav-stacked">
        <li ng-repeat="item in menu">
            <a href="/#/{{item.name}}" ng-click="getName(item.description)"
               ng-class="{ 'font-bold' : isSelected(item.name) }">{{ isSelected(item.name) ? "▽" : "▷" }}
                {{item.description}}</a>
            <ul class="nav nav-stacked inner-menu" ng-show="isSelected(item.name)">
                <li ng-repeat="subitem in item.navigation">
                    <a href="/#/{{item.name}}/{{subitem.name}}" ng-click="getName(subitem.description)"
                       ng-class="{ 'font-bold' : isSelectedInner(item.name + '/' + subitem.name) }">◦
                        {{subitem.description}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
