<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <script src="lib/components/angular/angular.js"></script>
    <script src="lib/components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="lib/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/components/angular-bootstrap/ui-bootstrap.min.js "></script>
    <script src="lib/components/angular-bootstrap/ui-bootstrap-tpls.min.js "></script>
    <script src="lib/angular/localStorageModule.js"></script>
    <script src="js/app.js"></script>
    <script src="js/steam.js"></script>
    <script src="js/main.js"></script>
    <script src="js/register.js"></script>
    <link href="lib/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="css/app.css"></link>

    <style>

        .navbar {
            min-height: 200px;
            margin-bottom: 0;
            border-radius: 0;
            position: relative;
        }

        ul {
            list-style-type: none;
        }

        .navbar-inverse {
            background-color: #ffba1a;
            border-color: #ffba1a;
        }

        .listStyle {
            padding-left: 15px;
            padding-bottom: 20px;
        }

        .listStyle a {
            color: black;
        }

    </style>

</head>

<body>
<div class="container-full-width">
    <header class="page-header" ng-include="'partials/header.html'"></header>
    <div class="container">
        <div class="row">
            <!--<div ng-include="'partials/nav.html'"></div>-->
            <div ui-view></div>
        </div>
    </div>
    <footer ng-include="'partials/footer.html'"></footer>
    <div>
</body>
</html>
